venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
*.sqlite3
.vs/
.vscode/

# pesos e modelos
Yolo-Weights/
*.pt

# videos e dados brutos
Videos/
frames_dataset/

# resultados de treino
runs/

# datasets baixados
train/
valid/
test/
*.zip
*.cache