# Ambiente e Segredos
.env
*.key
*.pem

# Códigos auxiliares de desenvolvimento
/extrair_frames.py
/avaliar_modelo.py
/sort.py

# Ambientes virtuais e Cache Python
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Modelos, pesos e saídas do YOLO (arquivos pesados)
Yolo-Weights/
*.pt
*.onnx
runs/

# Datasets, mídias e dados locais
Videos/
frames_dataset/
novos_frames*/
train/
valid/
test/
*.sqlite3
*.db
*.zip
*.cache

# Configurações de IDEs, Sistemas e Logs
.vscode/
.vs/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db
desktop.ini
*.log
logs/
